<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>file name 

  </title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

  <div class="bg-white p-5 main-container">
        <a href="/" class="mt-2 bg-blue-600 px-5 py-2 rounded-md text-white" >back</a>
        <h1 class="mt-10 text-4xl rounded-md"><%=  filename.replace(".txt", "") %></h1>
       
        <p class="text-black mt-5 text-lg rounded-md" ><%= data %></p>
      
      </div>


</body>
</html>